.contactHeaderImage {
  h2 {
    margin: 10% 0 0;
  }
}

.sectionEightInputs {
    background: $primaryColor;
  }


.sectionNine {
  section:first-child {
    width: calc((100% * 66.66) - 6%);
    padding: $mdAll;
  }

  section:last-child {
    width: calc((100% * 33.33) - 6%);
    padding: 0 3% 17%;
  }

  .captureForm input,
  .captureForm textarea {
    padding: $lgAll;
  }

  aside {

    div {
      margin: 2rem 0;
    }

  }
}



.socialIcons {
  padding: $smY;

  i {
    font-size: 1.8vw;
    padding-right: 2rem;
  }
}