// all header settings
header {
  height: 35.7vw;
  width: 100%;
  // position: relative;

  .indexHeaderImage {
    background-image: url(/assets/images/header-image.jpg);
    background-size: cover;
  }

  .blogHeaderImage {
    background-image: url(/assets/images/blog-header.jpg);
  }

  .contactHeaderImage {
    background-image: url(/assets/images/contact-header.jpg);
  }

  // Title specific positioning
  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding-bottom: 3%;
  }

  h2 {
    z-index: 20;
  }
}

// to adjust the index header size for positioning
#homeAnchor {
  height: 46vw;
}

.headerContent {
  height: 100%;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.headerBoxImage {
  z-index: 10;
  width: 38vw;
  margin: 10% 0;
  box-shadow: 0vw 0 0 4vw #FDFA69;
}

.blogBoxImage {
  z-index: 10;
  width: 60%;
  margin: -1vh 0;
  box-shadow: -2vw 2vw 0 0 $shadowColor;
}

.contactBoxImage {
  z-index: 10;
  width: 63%;
  margin: 5% 0;
  box-shadow: -2vw 2vw 0 0 $shadowColor;}