header {
  height: 46vw;
  width: 100%;
  position: relative;

  .indexBackground {
    background-image: url(/assets/images/header-image.jpg);
  }

  .blogBackground {
    background-image: url(/assets/images/blog-header.jpg);
  }

  .contactBackground {
    background-image: url(/assets/images/contact-header.jpg);
  }

  h1 {
    margin: 5rem;
    z-index: 20;
  }
}

.headerContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.headerBoxImage {
  position: absolute;
  top: 40vh;
  right: 0;
  width: 35vw;
  box-shadow: 2rem 0 0 6rem #FDFA69;
}