.about {
  height: 80vh;
  
  .flexColumn {
    align-items: center;
  }
}

.sectionTwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  .container {
    width: calc(100% / 2);  
 
    &:nth-child(2),
    &:nth-child(3) {
      align-self: center;
      padding: 0 50px;
    }
  }

}
.sectionThree {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}



.asideLeft {
  width: calc(100% / 3);
}

.containerRight {
  width: calc((100% / 3)*2);
}