@media (max-width: 950px) {
  .noOverflow {
    @include noOverflow();
  }

  p {
    max-height: 4rem;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


@media (max-width: 768px) {
  
    // font-size adjustment 

  h2 {
    font-size: createVW($h2FontSize * 0.75);  }

  h3 {
    font-size: createREM($h3FontSize * 0.75);
  }

  h4 {
    font-size: createREM($h4FontSize * 0.75);
  }

  p {
    font-size: createREM($bodyFontSize * 0.75);
  }

  a {
    font-size: createREM($navFontSize * 0.75);
  }


  // margin and padding adjustment 

  // navMenu li {
  //   padding: 2%;
  // }

  // nav ul li {
  //   padding: 2%;
  // }

}