input[type=checkbox],
nav label {
  display: none;
}

nav {
  display: flex;
  align-self: flex-end;
  width: calc(100% / 2) - 5rem;
  z-index: 10;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      padding: 20px;
      list-style: none;;
    }
  }
}