nav label,
#hamburger {
  display: none;
}

nav {
  z-index: 10;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      padding: 20px;
      list-style: none;;
    }
  }
}
