.fullWrapper {
  width: 100%;
}

.wrapper {
  @include innerWrapper;
}

.flexWrapper {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

// automatic background colours for <section>'s
section:nth-child(odd) {background: $primaryColor;}
section:nth-child(even) {background: $secondaryColor;}


img {
  width: 100%
}

.headerSettings {
  @include headerSettings;
}


.container {
  width: 100%;  
  height: 100%;
}

.flexColumnCenter {
  @include flexColumnCenter();
}

.flexLeft {
  @include flexLeft();
}

.flexRight {
  @include flexRight();
}

.flexRowEvenTop {
  @include flexJustifyTop();
}

.flexRowEvenCenter {
  @include flexJustifyCenter();
}

