.fullWrapper {
  width: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.flexWrapper {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

// automatic background colours for <section>'s
section:nth-child(odd) {background: $primaryColor;}
section:nth-child(even) {background: $secondaryColor;}


img {
  width: 100%
}

.container {
  width: 100%;
  height: 100%;
}

.flexColumnContainer {
  @include flexCenter();
}

.flexJustifyContainer {
  @include flexJustify();
}
