.fullWrapper {
  width: 100%;
}

.wrapper {
  @include innerWrapper;
}

.flexWrapper {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

// automatic background colours for <section>'s
section:nth-child(odd) {background: $primaryColor;}
section:nth-child(even) {background: $secondaryColor;}



.btn {
  display: flex;
  background: $btnColor;
  width: 25rem;
  justify-content: center;
  padding: $smAll;

}


// class attributes
.headerSettings {
  @include headerSettings;
}

.flex {
  @include flex();
}

.flexColumn {
  @include flexColumn();
}

.centerCenter {
  @include centerCenter();
}

.justStart {
  @include justStart();
}

.justCenter {
  @include justCenter();
}

.justEnd {
  @include justEnd();
}

.alignStart {
  @include alignStart();
}

.alignCenter {
  @include alignCenter();
}

.alignEnd {
  @include alignEnd();
}


.alignSelfStart {
  @include alignSelfStart();
}

.alignSelfCenter {
  @include alignSelfCenter();
}

.alignSelfEnd {
  @include alignSelfEnd();
}