html {
  font-size: 62.5%;
  color: $textColor;
}

h1 {
  font-family: $playfairDisplay;
  font-size: createVW($h1FontSize);
  text-transform: uppercase;
  }

//get in touch, blog
h2 {
  font-family: $playfairDisplay;
  font-size: createVW($h2FontSize);
  text-transform: uppercase;
  line-height: 92px;  
}

//what is captured
h3 {
  font-family: $playfairDisplay;
  font-size: createREM($h3FontSize);
  text-transform: uppercase;
  letter-spacing: 1px; 
}

//unlock your, getting new, top picks, community
h4 {
  font-family: $playfairDisplay;
  font-size: createREM($h4FontSize);
  text-transform: uppercase;
  letter-spacing: 1px; 
}

nav a {
  font-family: $playfairDisplay;
  font-size: createREM($navFontSize);
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1px;

  &:visited {
    color: $textColor;
  }
}

p {
  font-family: $roboto;
  font-size: createREM($bodyFontSize);
  line-height: 32px;  
}

.email {
  font-family: $playfairDisplay;
  font-size: createREM($emailFontSize);
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.btn {
  font-family: $playfairDisplay;
  font-size: createREM($btnFontSize);
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 1px;
  text-decoration: none;

  &:visited {
    color: $textColor;
  }
}
