// colors
$primaryColor: #FAFAFA;
$secondaryColor: #EFFDF3;
$textColor: #2C2C2C;
$btnColor: #4CEEA7;
$shadowColor: #FDFA69;

// inner margin max-width in px(without value) that will be used in a function 
$maxWidth: 1200;

// font-size variables in px(without value) that will be used in a function 
$h1FontSize: 138;
$h2FontSize: 80;
$h3FontSize: 42;
$h4FontSize: 28;
$navFontSize: 18;
$bodyFontSize: 20;
$emailFontSize: 26;
$btnFontSize: 20;

// padding & margin

// all around
$smAll: 1%;
$mdAll: 3%;
$lgAll: 6%;

// X-axis only
$smX: 0 1%;
$mdX: 0 3%;
$lgX: 0 6%;

// Y-axis only
$smY: 1% 0;
$mdY: 3% 0;
$lgY: 6% 0;


