@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

.fullWrapper {
  width: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1200;
  height: 100%;
  margin: 0 auto;
}

.flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

section:nth-child(odd) {
  background: #FAFAFA;
}

section:nth-child(even) {
  background: #EFFDF3;
}

img {
  width: 100%;
}

.headerSettings {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.flexLeft {
  width: calc((100% * .25)-4%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2%;
}

.flexRight {
  width: calc((100% * .75)-4%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2%;
}

.flexRowEvenTop {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flexRowEvenCenter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  font-size: 62.5%;
  color: #2C2C2C;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 9vw;
  text-transform: uppercase;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 92px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
}

.email {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.btn {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 1px;
}

header {
  height: 46vw;
  width: 100%;
  position: relative;
}

header .indexBackground {
  background-image: url(/assets/images/header-image.jpg);
}

header .blogBackground {
  background-image: url(/assets/images/blog-header.jpg);
}

header .contactBackground {
  background-image: url(/assets/images/contact-header.jpg);
}

header h1 {
  margin: 5rem;
  z-index: 20;
}

.headerContent {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.headerBoxImage {
  position: absolute;
  top: 40vh;
  right: 0;
  width: 35vw;
  -webkit-box-shadow: 2rem 0 0 6rem #FDFA69;
          box-shadow: 2rem 0 0 6rem #FDFA69;
}

input[type=checkbox],
nav label {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: calc(100% / 2)-5rem;
  z-index: 10;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  padding: 20px;
  list-style: none;
}

.about {
  height: 80vh;
}

.about .flexColumn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sectionTwo .container {
  width: calc(100% / 2);
}

.sectionTwo .container:nth-child(2), .sectionTwo .container:nth-child(3) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 50px;
}

.sectionThree {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.asideLeft {
  width: calc(100% / 3);
}

.containerRight {
  width: calc((100% / 3)*2);
}

@media (max-width: 768px) {
  nav label {
    font-size: 4rem;
    float: right;
    padding: 5% 0;
  }
  nav label:hover, nav label:focus {
    color: #FABA63;
    cursor: pointer;
  }
  nav label:active {
    position: relative;
    top: 2px;
  }
  .navMenu {
    display: block;
    position: absolute;
    z-index: 10;
    width: 50%;
    left: -50%;
    top: 1rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: left;
  }
  .navMenu li {
    margin: 5% 10% 5%;
  }
  .navMenu li a {
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 2.4rem;
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    color: #FABA63;
  }
  .navMenu li a:hover,
  .navMenu li a:focus {
    border-bottom: 2px solid grey;
  }
  .navMenu li a:active {
    position: relative;
    top: 2px;
  }
  input[type="checkbox"]:checked + .navMenu {
    left: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  .noOverflow {
    max-height: 4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
